#app {
	display: flex;
	justify-content: center;
}

#button {
	margin-top: 2%;
	padding: 5px;
	width: 35%;
	font-family: 'Balsamiq Sans'; /* doesn't assume body's font-family setting; need to explicitly set here? */
}