#app {
	display: flex;
	justify-content: center;
}

#displaydata {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 2%;
	padding: 5px;
	font-family: 'Balsamiq Sans'; /* doesn't assume body's font-family setting; need to explicitly set here? */
}

#button {
	position: relative;
	padding: 10px;
}

#pokemon {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 1%;
}

.poke {
	margin: 1%;
	padding: 1%;
	border: 1px solid crimson;
	color: lightslategray;
}